laydown_config=
(
  networks=
  (
    MIL-STD-2045-47001=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
      transmit_delay=1
    )
    NET02_VW_3BDE_OPSFIRE_1=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
      transmit_delay=1
    )
    NET04_TW_110_MORTAR=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
      transmit_delay=1
    )
    NET06_VW_337_FD1=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
      transmit_delay=1
    )
  )
  opfacs=
  (
    " /1/A/3 /37"=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
    )
    " /F/O/11/110"=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
    )
    "F/D/C/3 /37"=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
    )
    F/I/S/10/110=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
    )
    "F/S/E/1 /10"=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
    )
    F/S/E/3C/BDE=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
    )
    F/S/E/TC/33=
    (
      process=
      (
        id=p1
        site=fsats3.arlut.utexas.edu
      )
    )
  )
)
